.header{  
  .menu-btn{
    @include breakpoint(xl){
      display: none;
    }
    background: transparent;
    border: none;
    @include outline(0);
    width: 40px;    
    cursor: pointer;         
    span{
      display: block;
      height: 4px;
      background: #EAF0F7;
      border-radius: 2px;
      &:not(:last-child){
        margin-bottom: 6px;
      }      
      transition: transform 0.35s cubic-bezier(0.30, 0.15, 0.30, 0.90) 0s; 
      transform-origin: 0% 50%;
    }    
    &.active{
      span:first-child{
        transform: rotate(45deg);        
      }
      span:nth-child(2){
        opacity: 0;
      }
      span:last-child{
        transform: rotate(-45deg);         
      }
    }
  }
}