.start-screen{
  padding: 20px;
  min-height: 100vh;

  display: none;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  &.active{
    display: flex;
  }
  .start-texts{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 24px;
  }
  // .Typewriter__wrapper{}
  .start-text-wrapper{
    font-family: 'Space Mono', monospace;
    font-style: italic;
    font-size: 20px;
    line-height: 1.45;
    color: #FFFFFF;
    text-align: center;    
    &:not(:last-child){
      margin-bottom: 2em;
    }
  }
  .btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  } 
  .logo-1{
    display: block;
    margin: 0 auto 10px;
  } 
}
.finish-screen{
  display: none;
  padding: 20px;
  min-height: 100vh;  
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  &.active{
    display: flex;
  }
  .finish-texts{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 18px;
  }
  .finish-text-wrapper{
    font-family: 'Space Mono', monospace;
    font-style: italic;
    font-size: 20px;
    line-height: 1.45;
    color: #FFFFFF;
    text-align: center;    
    &:not(:last-child){
      margin-bottom: 2em;
    }
  }  
  .btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    margin-bottom: 70px;
    .v01c3-btn{
      &:not(:last-child){
        margin-bottom: 10px;
      }      
    }
  }
}
.v01c3-btn{
  @include outline(0);
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  max-width: 500px;
  min-height: 136px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #3918C0;   
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 1.45; 
  text-transform: uppercase;
  background: url("../static/img/texture.gif") no-repeat 50% 50%/cover, #3918C0;
  opacity: 1;
  transition: 0.8s opacity ease-in-out;
  @include breakpoint(lg){
    background: url("../static/img/texture720.gif") no-repeat 50% 50%/cover, #3918C0;
  }  
  .btn-icon{
    margin-left: 8px;
  }
  &:disabled{
    opacity: 0;
    pointer-events: none;
  }
  span{
    @include breakpoint(xs-only){
      display: flex;
      align-items: center;
    }
  }
}
.copyright{
  align-self: center;
  font-family: 'Space Mono';
  font-style: italic;
  font-size: 12px;
  line-height: 1.4;
  color: #868686;
  text-align: center;
}
// .info{
//   position: absolute;
//   z-index: 20;
//   bottom: 30px;
//   right: 30px;
// }
.submit-form{
  $pl-color: #BA8DF2;
  text-align: center;
  .finish-input{
    // @include outline(0);    
    &:disabled{
      opacity: 0;
      pointer-events: none;
    }
    opacity: 1;
    transition: 0.8s opacity ease-in-out;
    width: 100%;
    max-width: 500px;
    border: none;
    border-bottom: 2px solid #A17AD2;
    padding: 16px 8px;
    background-color: transparent;
    font-family: 'Space Mono', monospace;    
    font-size: 20px;
    font-style: italic;
    line-height: 1.45;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 8px;
  }
  input::-webkit-input-placeholder {
    color: $pl-color !important;
  }  
  input:-moz-placeholder { 
    color: $pl-color !important;
  }  
  input::-moz-placeholder {  
    color: $pl-color !important;
  }  
  input:-ms-input-placeholder {  
    color: $pl-color !important;
  }
  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff;
    -webkit-text-fill-color: $pl-color;  
  }
  
}
